(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    waves: Some((
        source: File("build/pcie_physical_controller_0.1/xilinx_sim-xsim/dump.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "tb_controller",
                "pcie_controller_dut",
            ],
        ))),
        displayed_items_order: [
            (1),
            (2),
            (3),
            (46),
            (47),
            (48),
            (57),
            (49),
            (50),
            (51),
            (52),
            (53),
            (54),
            (55),
            (56),
            (4),
            (5),
            (6),
            (7),
            (8),
            (9),
            (10),
            (11),
            (12),
            (13),
            (25),
            (40),
            (44),
            (41),
            (42),
            (45),
            (26),
            (27),
            (28),
            (29),
            (30),
            (31),
            (32),
            (33),
            (34),
        ],
        displayed_items: {
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "tb_clocking_block_inst",
                        ],
                    ),
                    name: "rst_sync",
                ),
                color: None,
                background_color: None,
                display_name: "…tb_clocking_block_inst.rst_sync [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (29): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                            "control_detect_inst",
                            "timer_12ms",
                        ],
                    ),
                    name: "clk_i",
                ),
                color: None,
                background_color: None,
                display_name: "…timer_12ms.clk_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (26): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (51): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                        ],
                    ),
                    name: "controller_st_q",
                ),
                color: None,
                background_color: None,
                display_name: "controller_st_q",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (48): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                        ],
                    ),
                    name: "clk_i",
                ),
                color: None,
                background_color: None,
                display_name: "…pcie_controller_dut.clk_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (44): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                            "control_detect_inst",
                        ],
                    ),
                    name: "rst_i",
                ),
                color: None,
                background_color: None,
                display_name: "…control_detect_inst.rst_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "tb_clocking_block_inst",
                        ],
                    ),
                    name: "clk",
                ),
                color: None,
                background_color: None,
                display_name: "…tb_clocking_block_inst.clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (42): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                            "control_detect_inst",
                        ],
                    ),
                    name: "detect_st_q",
                ),
                color: None,
                background_color: None,
                display_name: "detect_st_q",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (12): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (52): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                        ],
                    ),
                    name: "en_8b10b_encoder_o",
                ),
                color: None,
                background_color: None,
                display_name: "en_8b10b_encoder_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "tb_clocking_block_inst",
                        ],
                    ),
                    name: "rst_i",
                ),
                color: None,
                background_color: None,
                display_name: "…tb_clocking_block_inst.rst_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (47): Divider((
                color: None,
                background_color: Some("Blue"),
                name: Some("pcie_controller"),
            )),
            (32): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                            "control_detect_inst",
                            "timer_12ms",
                        ],
                    ),
                    name: "en_timer_i",
                ),
                color: None,
                background_color: None,
                display_name: "en_timer_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (55): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                        ],
                    ),
                    name: "linkUp_q",
                ),
                color: None,
                background_color: None,
                display_name: "linkUp_q",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (54): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                        ],
                    ),
                    name: "linkUp_d",
                ),
                color: None,
                background_color: None,
                display_name: "linkUp_d",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (40): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                            "control_detect_inst",
                        ],
                    ),
                    name: "clk_i",
                ),
                color: None,
                background_color: None,
                display_name: "…control_detect_inst.clk_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (11): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (31): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                            "control_detect_inst",
                            "timer_12ms",
                        ],
                    ),
                    name: "cnt_q",
                ),
                color: None,
                background_color: None,
                display_name: "cnt_q [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (57): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                        ],
                    ),
                    name: "rst_i",
                ),
                color: None,
                background_color: None,
                display_name: "…pcie_controller_dut.rst_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (28): Divider((
                color: Some("Pink"),
                background_color: Some("Pink"),
                name: Some("Timer"),
            )),
            (34): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                            "control_detect_inst",
                            "timer_12ms",
                        ],
                    ),
                    name: "rst_i",
                ),
                color: None,
                background_color: None,
                display_name: "…timer_12ms.rst_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (50): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                        ],
                    ),
                    name: "controller_st_d",
                ),
                color: None,
                background_color: None,
                display_name: "controller_st_d",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (13): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (33): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                            "control_detect_inst",
                            "timer_12ms",
                        ],
                    ),
                    name: "interrupt_o",
                ),
                color: None,
                background_color: None,
                display_name: "interrupt_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                        ],
                    ),
                    name: "clk",
                ),
                color: None,
                background_color: None,
                display_name: "tb_controller.clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (53): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                        ],
                    ),
                    name: "en_128b130b_encoder_o",
                ),
                color: None,
                background_color: None,
                display_name: "en_128b130b_encoder_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (25): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (27): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (41): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                            "control_detect_inst",
                        ],
                    ),
                    name: "detect_st_d",
                ),
                color: None,
                background_color: None,
                display_name: "detect_st_d",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (46): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (4): Divider((
                color: None,
                background_color: Some("Blue"),
                name: None,
            )),
            (49): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                        ],
                    ),
                    name: "control_detect_active",
                ),
                color: None,
                background_color: None,
                display_name: "control_detect_active",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (5): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (45): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                            "control_detect_inst",
                        ],
                    ),
                    name: "active_o",
                ),
                color: None,
                background_color: None,
                display_name: "active_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (56): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                        ],
                    ),
                    name: "phy_layer_lane_detect_i",
                ),
                color: None,
                background_color: None,
                display_name: "phy_layer_lane_detect_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "tb_clocking_block_inst",
                        ],
                    ),
                    name: "clk_o",
                ),
                color: None,
                background_color: None,
                display_name: "clk_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                        ],
                    ),
                    name: "rst",
                ),
                color: None,
                background_color: None,
                display_name: "rst",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "tb_clocking_block_inst",
                        ],
                    ),
                    name: "rst_sync_o",
                ),
                color: None,
                background_color: None,
                display_name: "rst_sync_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                        ],
                    ),
                    name: "rst_sync",
                ),
                color: None,
                background_color: None,
                display_name: "tb_controller.rst_sync",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (30): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_controller",
                            "pcie_controller_dut",
                            "control_detect_inst",
                            "timer_12ms",
                        ],
                    ),
                    name: "cnt_d",
                ),
                color: None,
                background_color: None,
                display_name: "cnt_d [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
        },
        display_item_ref_counter: 57,
        viewports: [
            (
                curr_left: (-0.006823269314840653),
                curr_right: (0.06997617842580892),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            40995000,
        ])),
        markers: {},
        focused_item: Some((33)),
        focused_transaction: (None, None),
        selected_items: [],
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((6)),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_name_filter_type: Fuzzy,
    variable_name_filter_case_insensitive: true,
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)